html, body{
  height: 100%;
  padding: 0em;
  margin: 0em;
}

#flex-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: stretch;
  flex: 0 1 auto;
}

#all-content{
  height: 100%;
  display: flex;
  flex-direction: row;
}

#sidebar, #systems{
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  background-color:rgb(69, 69, 69);
  align-content: stretch;
  width:20%;
}

#systems{
  width: 100%;
  overflow: auto;
}

#sidebar .title{
  color:rgb(250, 255, 185);
  margin-bottom: 0.5em;
}

.sidebar-topper{
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  margin-bottom: 0.25em;
}

.half-item{
  flex-grow: 1;
  padding: 0.75em;
  width: 100%;
}

.sidebar-item{
 
  padding: 0.75em;
}

.sidebar-btn{
  align-items: stretch;
  display: flex;
  flex-direction: row;
  padding: .5em;
}

.sidebar-btn-main{
  flex-grow: 10;
  text-align: center;
}

.delete-btn-td{
  flex-grow: 1;
  background-color: red;
  border-radius: 50%;
  padding: 0.15em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 0;
}

.full-length-flex{
  display: flex;
  flex-direction: column;
  align-content: stretch;
  flex-flow: flex-end;
}

.sidebar-btn-label{
  background-color: #e9e9ed;
  border-radius: 5px;
  text-align: center;
  margin: 0.1em;
}

.sidebar-btn-label:hover{
  background-color: #d0d0d7;
}

#right-side{
  /* flex-grow: 7; */
  width:80%;
  background-color: rgb(155, 155, 155);
}

#object-select, .sub-select{
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
}

#header {
  background-color: rgb(250, 255, 185);
}

#header .title{
  padding: 0.5em;
}

.title{
  font-size: 2em;
}

.object-button{
  background-color: rgb(126, 126, 126);
  border: none;
  color:rgb(255, 230, 0);
  text-decoration: none;
  font-size: 1em;
  width: 100%;
  padding: 1em;
}

.object-button:hover{
  background-color: rgb(188, 190, 142);
}

.small-button{
  font-size: 0.75em;
  padding: 0.75em;
}

.selected-button{
  background-color: rgb(250, 255, 185);
  color: black;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

th, td {
  text-align: left;
  padding: 0.25em;
}

tr:nth-child(even) {
  background-color: #fbffce;
}

tr:hover {
  background-color: yellow;
}

.bottom-border{
  border-bottom: 2px solid black;
}

.hidden{
  display: none !important;
}

.indent{
  width: 90%;
  align-self: flex-end;
}

.sidebar-header{
  text-align: center;
}

#systems table{
  background-color: #edc2c8;
  border: none;
}

#div2-1 table{
  background-color:#edd7c5;
  border: none;
}

#div2-2 table{
  background-color:#ede7c5;
  border: none;
}

#div2-3 table{
  background-color: #c2edcf;
  border: none;
}

#div2-4 table{
  background-color: #c8c8cb;
  border: none;
}

.help-btn{
  padding: 0.15em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: rgb(22, 131, 255);
  color:white;
  border-radius: 50%;
  border: none;
}

.help-btn:hover{
  background-color: rgb(0, 255, 255);
  color:black;
}

.help-btn-td{
  width: .5%;
}

#dim-page{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
}

#help-window{
	text-align: left;
  background-color: white;
	position: absolute;
	left: 50%;
	width: 40em;
  padding: 1em;   
  margin-left: -20em; 
	margin-top: 90px;
	border: solid 0.15em black;
}

#help-tooltip{
  position:absolute;
  padding: 0.5em;
  transform:translate(10%, 0);
  width: 10em;
  border:2px solid black;
  background-color: white;
}

.black-border{
  border: 5px solid white !important;
  background-color: rgba(255, 255, 255, 0.87)!important;
  color: black !important;
}

#creation-menu{
  text-align: center;
  background-color: white;
	position: absolute;
	left: 30%;
	width: 40em;
  /* padding: 1em;   
  margin-left: -20em;  */
	margin-top: 90px;
	border: solid 0.15em black;
  padding: 0.75em;

  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.new-body-group{
  display: flex;
  flex-direction: row;
  align-content: stretch;
  /* flex-grow: 1; */
  width: 97%;
  padding: 0 10px 0 10px;
}

.new-body-btn{
  flex-grow: 1;
  padding: 2em .75em;
  width: 100%;  
  background-color: #e9e9ed;
  border-radius: 5px;
  text-align: center;
  margin: 0.1em;
}

.form-submit-btn{
  flex-grow: 1;
  padding: 1em .75em;
  margin-top: 1em;
  width: 100%;  
  background-color: #e9e9ed;
  border-radius: 5px;
  text-align: center;
} 

.new-body-btn:hover, .form-submit-btn:hover{
  background-color: #d0d0d7;
}

.new-object-form {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  /* flex-grow: 1; */
}

.half-form{
  padding:1em;
}

#help-menu{
  
	text-align: left;
  background-color: white;
	position: absolute;
	left: 50%;
	width: 40em;
  padding: 1em;   
  margin-left: -20em; 
	margin-top: 90px;
	border: solid 0.15em black;
}